// _variables.scss
$bg-white: #FFFFFF;
$primary-backgrond-color: #F4F4F4;
$primary-color-transparent: rgba(0, 123, 255, 0.2);
$border-radius: 50%;
$spinner-size: 2.5rem;
$spinner-border: 0.25rem;
$spinner-padding: 1.25rem;

$primary-blue: #007BFF;
$blue-1: #3498db;
$blue-2: #2980b9;
$active-btn-color: #B35B00;
