$border-radius: 50%;
$font-family: 'Segoe UI', 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
$primary-font-size: 16px;
$primary-line-height: 1.5;
$spinner-size: 2.5rem;
$spinner-border: 0.25rem;
$spinner-padding: 1.25rem;

$active-btn-color: #B35B00;
$bg-white: #FFFFFF;
$blue-1: #3498db;
$blue-2: #2980b9;
$primary-backgrond-color: #F4F4F4;
$primary-blue: #007BFF;
$primary-color-transparent: rgba(0, 123, 255, 0.2);
$text-color: #333333;
