@use '../../styles/variables' as *;

.load-all-btn {
    margin: 2rem .25rem;
}

.pc-element-block {
    background: $primary-backgrond-color;
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
}

.toggle-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
}
