@use '../app/styles/variables' as *;

.pc-wrapper-block {
    background: $bg-white;
    margin: 0 auto;
    max-width: calc(100% - 30px);
    min-height: 100vh;
    padding: 2rem;
    width: 1240px;

    h1 {
        border-bottom: 1px solid $primary-backgrond-color;
        padding-bottom: 1rem;
    }
}
