@use '../../styles/variables' as *;

.spinner-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $spinner-padding;
  }
  
  .spinner {
    animation: spin 0.8s linear infinite;
    border: $spinner-border solid $primary-color-transparent;
    border-top-color: $primary-blue;
    border-radius: $border-radius;
    height: $spinner-size;
    width: $spinner-size;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  